@model QuanLy.src.Abstractions.Data.HoaDon

@{
    ViewData["Title"] = "Delete";
}

<h3>Xóa thông tin hóa đơn khỏi hê thống</h3>
<hr />
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NgayLapHD)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NgayLapHD)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NgayNhanHang)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NgayNhanHang)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KhachHang)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KhachHang.MaKH)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NhanVien)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NhanVien.MaNV)
        </dd>
    </dl>

    <form asp-area="QuanLy" asp-action="Delete">
        <input type="hidden" asp-for="MaHD" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-area="QuanLy" asp-action="Index">Back to List</a>
    </form>
</div>
