@model IEnumerable<QuanLy.src.Abstractions.Data.HoaDon>

@{
    ViewData["Title"] = "Index";
}

<h3>Danh sách hóa đơn</h3>
<hr />
<p>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalCreate">
        Create
    </button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaHD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KhachHang.MaKH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NhanVien.MaNV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayLapHD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayNhanHang)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="data-table">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaHD)
                </td>
                <td>
                    <a asp-area="QuanLy" asp-action="Details" asp-controller="KhachHangs" asp-route-id="@item.MaKH">
                        @Html.DisplayFor(modelItem => item.MaKH)
                    </a>
                </td>
                <td>
                    <a asp-area="QuanLy" asp-action="Details" asp-controller="NhanViens" asp-route-id="@item.MaNV">
                        @Html.DisplayFor(modelItem => item.MaNV)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayLapHD)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayNhanHang)
                </td>
                <td>
                    <a asp-area="QuanLy" asp-action="Edit" asp-route-id="@item.MaHD">Edit</a> |
                    <a asp-area="QuanLy" asp-action="Details" asp-route-id="@item.MaHD">Details</a> |
                    <a asp-area="QuanLy" asp-action="Delete" asp-route-id="@item.MaHD">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Modal Create -->
<div class="modal fade" id="modalCreate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="create-new">Thêm hóa đơn</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <form>
                            <div class="form-group">
                                <label for="MaHD" class="control-label"> Mã hóa đơn </label>
                                <input id="MaHD" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="MaKH" class="control-label">Mã khách hàng </label>
                                <select id="MaKH" class="form-control">
                                    <option value="">Mã khách hàng</option>
                                    @foreach(var kh in ViewBag.MaKH){ 
                                        <option value="@kh"></option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="MaNV" class="control-label"> Mã nhân viên </label>
                                <select id="MaNV" class="form-control" >
                                    <option value="">Mã nhân viên</option>
                                    @foreach (var nv in ViewBag.MaNV)
                                    {
                                        <option value="@nv"></option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="NgayLapHD" class="control-label"> Ngày lập hóa đơn </label>
                                <input type="date" for="NgayLapHD" class="form-control" />
                                @*<input id="NgayLapHD" class="form-control" />*@
                            </div>
                            <div class="form-group">
                                <label for="NgayNhanHang" class="control-label"> Ngày nhận hàng </label>
                                <input type="date" for="NgayNhanHang" class="form-control" />
                            </div>
                        </form>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="btnSave">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Edit -->
<div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="create-new">Cập nhật thông tin hóa đơn</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="MaHD" class="control-label"> Mã hóa đơn </label>
                                <input type="text" class="form-control" id="editMaHD" readonly />
                            </div>
                            <div class="form-group">
                                <label for="MaKH" class="control-label">Mã khách hàng </label>
                                <select id="editMaKH" class="form-control">
                                    <option value="">Mã khách hàng</option>
                                    @foreach (var kh in ViewBag.MaKH)
                                    {
                                        <option value="@kh"></option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="MaNV" class="control-label"> Mã nhân viên </label>
                                <select id="editMaNV" class="form-control">
                                    <option value="">Mã nhân viên</option>
                                    @foreach (var nv in ViewBag.MaNV)
                                    {
                                        <option value="@nv"></option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="NgayLapHD" class="control-label"> Ngày lập hóa đơn </label>
                                <input type="date" for="editNgayLapHD" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="NgayNhanHang" class="control-label"> Ngày nhận hàng </label>
                                <input type="date" for="editNgayNhanHang" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnEditSave">Save changes</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            //GetData();

            $('#btnSave').click(function () {
                if (IsValidate()) {
                    var model = {
                        "MaHD": $('#MaHD').val(),
                        "MaKH": $('#MaKH').val(),
                        "MaNV": $('#MaNV').val(),
                        "NgayLapHD": $('#NgayLapHD').val(),
                        "NgayNhanHang": $('#NgayNhanHang').val()
                    };
                    $.ajax({
                        url: '/QuanLy/HoaDons/Create',
                        dataType: 'json',
                        type: 'POST',
                        data: model,
                        success: function (res) {
                            if (res.success) {
                                window.location.reload();
                            }
                        },
                        error: function (xhr) { alert('error'); }
                    });
                }
            });
            //Edit
            $('body').on('click', '.btnEdit', function () {
                var id = $(this).data('id');
                console.log("edit clicked " + id);
                GetDataById(id);
            });

            //Save info from modal edit/update
            $('#btnEditSave').click(function () {
                var model = {
                    "MaHD": $('#editMaHD').val(),
                    "MaNV": $('#editMaNV').val(),
                    "MaKH": $('#editMaKH').val(),
                    "NgayLapHD": $('#editNgayLapHD').val(),
                    "NgayNhanHang": $('#editNgayNhanHang').val()
                };
                $.ajax({
                    url: '/QuanLy/HoaDons/Edit',
                    dataType: 'json',
                    type: 'POST',
                    data: model,
                    success: function (res) {
                        alert("Cập nhật thành công.");
                        if (res.success) {
                            GetData();
                            $('#modalEdit').modal('hide');
                        }
                    },
                    error: function (xhr) { alert('error'); }
                });
            });

            //Delete
            $('body').on('click', '.btnDelete', function () {
                var id = $(this).data('id');
                console.log("btndelete clicked " + id);
                var conf = confirm('Xác nhận xóa khách hàng.');
                if (conf) {
                    Delete(id);
                }
            });
        });

        function GetDataById(id) {
            $.ajax({
                url: '/QuanLy/HoaDons/GetDataById',
                type: 'GET',
                data: { id: id },
                success: function (res) {
                    if (res.success) {
                        if (res.data != null) {
                            $('#editMaHD').val(res.data.result.maHD);
                            $('#editMaNV').val(res.data.result.maNV);
                            $('#editMaKH').val(res.data.result.maKH);
                            $('#editNgayLapHD').val(res.data.result.ngayLapHD);
                            $('#editNgayNhanHang').val(res.data.result.ngayNhanHang);
                            $('#modalEdit').modal('show');
                        }
                    }
                },
                error: function (xhr) { alert('error'); }
            });
        }

        function GetData() {
            $.ajax({
                url: '/QuanLy/HoaDons/GetData',
                type: 'GET',
                success: function (res) {
                    if (res.totalItem > 0) {
                        alert("Get Data")
                        var list = res.data;
                        var html = "";
                        for (let i = 0; i < res.totalItem; i++) {
                            url_hd = "/QuanLy/HoaDons/Details/" + list[i].maHD;
                            url_nv = "/QuanLy/NhanViens/Details/" + list[i].maNV;
                            url_kh = "/QuanLy/KhachHangs/Details/" + list[i].maKH;

                            html += "<tr id='tr" + list[i].maHD + "'>";
                            html += "<td><a href='" + url_kh + "'>'" + list[i].maKH + "</a></td>";
                            html += "<td><a href='" + url_nv +"'>'" + list[i].maNV + "</a></td>";
                            html += "<td>" + list[i].ngayLapHD + "</td>";
                            html += "<td>" + list[i].ngayNhanHang + "</td>";
                            html += "<td><a class='btn btn-warning btnEdit' data-id ='" + list[i].maHD + "'>Edit</a> | " +
                                "<a href='" + url_hd + "' class='btn btn-info btnDetails' data-id ='" + list[i].maHD + "' > Details</a> | " +
                                "<a class='btn btn-danger btnDelete' data-id='" + list[i].maHD + "'>Delete</a></td > ";
                            html += "</tr>";
                        }
                        $('#data-table').html(html);
                    }
                },
                error: function (xhr) { alert('error'); }
            });
        }

        function Delete(id) {
            $.ajax({
                url: '/QuanLy/HoaDons/Delete',
                type: 'POST',
                data: { id: id },
                success: function (res) {
                    if (res.success) {
                        //$('#tr' + id).remove();
                        GetData();
                    } else {
                        console.log("Error!");
                    }
                },
                error: function (xhr) { alert('error'); }
            });
        }
        function IsValidate() {
            var check = false;
            debugger;

            if ($('#MaHD').val() == '') {
                $('#MaHD').next().html('Mời nhập mã hóa đơn!');
                check = false; return;
            } else {
                $('#MaHD').next().html('');
                check = true;
            }

            if ($('#MaKH').val() == '') {
                $('#MaKH').next().html('Mời nhập mã khách hàng!');
                check = false; return; 
            } else {
                $('#MaKH').next().html('');
                check = true;
            }

            if ($('#MaNV').val() == '') {
                $('#MaNV').next().html('Mời nhập mã nhân viên!');
                check = false; return;
            } else {
                $('#MaSP').next().html('');
                check = true;
            }
            return check;
        }
    </script>
}