@model IEnumerable<QuanLy.src.Abstractions.Data.KhachHang>

@{
    ViewData["Title"] = "Index";
}

<h3>Danh sách khách hàng</h3>

<p>
    @*<a asp-area="QuanLy" asp-action="Create">Create New</a>*@
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalCreate">
        Create
    </button>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HoTenKH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaChi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DienThoai)
            </th>
        </tr>
    </thead>
    <tbody id="data-table">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.HoTenKH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiaChi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DienThoai)
                </td>
                <td>
                    <a asp-area="QuanLy" asp-action="Edit" asp-route-id="@item.MaKH">Edit</a> |
                    <a asp-area="QuanLy" asp-action="Details" asp-route-id="@item.MaKH">Details</a> | 
                    <button class="btn btn-danger" id="btnDeleteItem" value="@item.MaKH">Delete</button>

                </td>
            </tr>
        }
    </tbody>
</table>
<hr />

<!-- Modal create -->
<div class="modal fade" id="modalCreate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="create-new">Thêm nhân viên mới</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="MaKH" class="control-label"> Mã khách hàng </label>
                                <input type="text" class="form-control" id="MaKH" />
                            </div>
                            <div class="form-group">
                                <label for="DiaChi" class="control-label"> Địa chỉ </label>
                                <input type="text" class="form-control" id="DiaChi" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="HoTenKH" class="control-label"> Họ Tên </label>
                                <input type="text" id="HoTenKH" class="form-control" />
                                @*<span asp-validation-for="HoTenKH" class="text-danger"></span>*@
                            </div>
                            <div class="form-group">
                                <label for="DienThoai" class="control-label"> Điện thoại </label>
                                <input id="DienThoai" class="form-control" />
                                @*<span asp-validation-for="DienThoai" class="text-danger"></span>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnSave">Save changes</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            GetData();
            alert("success: ok1");

            //Create
            $('#btnSave').click(function () {
                if (IsValidate()) {
                    var model = {
                        "MaKH": $('#MaKH').val(),
                        "HoTenKH": $('#HoTenKH').val(),
                        "DiaChi": $('#DiaChi').val(),
                        "DienThoai": $('#DienThoai').val()
                    };
                    $.ajax({
                        url: '/QuanLy/KhachHangs/Create',
                        dataType: 'json',
                        type: 'POST',
                        data: model,
                        success: function (res) {
                            if (res.success) {
                                GetData();
                                ResetFieldInput();
                                //window.location.reload();
                            }
                        },
                        error: function (xhr) { alert('error'); }
                    });
                }
            });

            function GetData() {
                //alert("getdata: ok");
                $.ajax({
                    url: '/QuanLy/KhachHangs/GetData',
                    type: 'GET',
                    success: function (res) {
                        alert(res);
                        if (res.TotalItem > 0) {
                            alert("res.TotalItem: ok");
                            var listKH = res.Data;
                            var html = "";
                            for (let i = 0; i < res.TotalItems; i++) {
                                html += "<tr>";
                                html += "<td>" + listKH[i].HoTenKH + "</td>";
                                html += "<td>" + listKH[i].DiaChi + "</td>";
                                html += "<td>" + listKH[i].DienThoai + "</td>";
                                html += "<td><a href='#' class='btn btn-warning'>Edit</a> | a href='#' class='btn btn-info'>Details</a> | <a href='#' class='btn btn-danger' id ='btnDeleteItem' value = 'listKH[i].MaKH'>Delete</a></td>";
                                //html += "<td>" + "<td><a asp-area=" + "QuanLy" + "asp-action=" + "Edit" + "asp-route-id=" + listKH[i].MaKH + ">Edit</a> |" +
                                //    "<a asp-area=" + "QuanLy" + "asp-action=" + "Details" + "asp-route-id=" + listKH[i].MaKH + ">Details</a> | " +
                                //    "<button class=" + "btn btn-danger" + "id=" + "btnDeleteItem" + "value=" + listKH[i].MaKH + ">Delete</button></td>";
                                html += "</tr>";
                            }
                            $('#data-table').html(html);
                        }
                    },
                    error: function (xhr) { alert('error'); }
                });
            }

            function IsValidate() {
                var check = false;
                if ($('#MaKH').val() == '') {
                    $('MaKH').next().html('Mời nhập mã khách hàng!');
                    check = false;
                } else {
                    $('MaKH').next().html('');
                    check = true;
                }

                if ($('#HoTenKH').val() == '') {
                    $('TenHoTenKHNV').next().html('Mời nhập họ tên khách hàng!');
                    check = false;
                } else {
                    $('#HoTenKH').val() == '';
                    check = true;
                }
                return check;
            }
            function ResetFieldInput() {
                $('#MaKH').val('');
                $('#HoTenKH').val('');
                $('#DiaChi').val('');
                $('#DienThoai').val('');
            }

            //Delete item in list
            $('#btnDeleteItem').click(function () {
                var id = $(this).val();
                alert(id);
                if (confirm("Xác nhận xóa khách hàng ?")) {
                    $.ajax({
                        url: '/QuanLy/KhachHangs/Delete',
                        type: 'POST',
                        data: id,
                        success: function (res) {
                            if (res.success) {
                                window.location.reload();
                            }
                        },
                        error: function (xhr) { alert('error'); }
                    });
                }
            });
        })

        
    </script>
}