@model QuanLy.src.Abstractions.Data.NhanVien

@{
    ViewData["Title"] = "Delete";
}

<h3>Xác nhận xóa thông tin nhân viên</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HoNV)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HoNV)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TenNV)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TenNV)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GioiTinh)
        </dt>
        <dd class="col-sm-10">
            @*@Html.DisplayFor(model => model.GioiTinh)*@
            @if (@Model.GioiTinh == true)
            {
                <p>Nữ</p>
            }
            else
            {
                <p>Nam</p>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NgaySinh)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DiaChi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DienThoai)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DienThoai)
        </dd>
    </dl>

    <form asp-area="QuanLy" asp-action="Delete">
        <input type="hidden" asp-for="MaNV" />
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
    <a asp-area="QuanLy" asp-action="Index">Back to List</a>
</div>
