@model IEnumerable<QuanLy.src.Abstractions.Data.NhanVien>

@{
    ViewData["Title"] = "Index";
}

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}

<h3>Danh sách nhân viên</h3>
<p>
    @*<a asp-area="QuanLy" asp-action="Create">Create New</a>*@
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalCreate">
        Create
    </button>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HoNV)
                @Html.DisplayNameFor(model => model.TenNV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GioiTinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgaySinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaChi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DienThoai)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="data-table">
        @*@foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.HoNV)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenNV)
                </td>
                <td>
                    @if (item.GioiTinh == true)
                    {
                        <p>Nữ</p>
                    }
                    else
                    {
                        <p>Nam</p>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgaySinh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiaChi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DienThoai)
                </td>
                <td>
                    <a asp-area="QuanLy" asp-action="Edit" asp-route-id="@item.MaNV">Edit</a> |
                    <a asp-area="QuanLy" asp-action="Details" asp-route-id="@item.MaNV">Details</a> |
                    <a asp-area="QuanLy" asp-action="Delete" asp-route-id="@item.MaNV">Delete</a>
                </td>
            </tr>
        }*@
    </tbody>
</table>

<!-- Modal Create-->
<div class="modal fade" id="modalCreate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="create-new">Thêm nhân viên mới</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="MaNV" class="control-label"> Mã nhân viên </label>
                                <input id="MaNV" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="HoNV" class="control-label"> Họ </label>
                                <input id="HoNV" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="GioiTinh" class="control-label"> Giới tính </label>
                                <select class="form-control form-select" id="GioiTinh">
                                    <option selected>Chọn</option>
                                    <option value="True">Nữ</option>
                                    <option value="False">Nam</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="DiaChi" class="control-label"> Địa chỉ </label>
                                <input id="DiaChi" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="TenNV" class="control-label"> Tên </label>
                                <input id="TenNV" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="NgaySinh" class="control-label"> Ngày sinh </label>
                                <input type="date" min="1990-01-01" max="2005-12-31" id="NgaySinh" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="DienThoai" class="control-label"> Điện thoại </label>
                                <input id="DienThoai" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnSave">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Edit -->
<div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="create-new">Cập nhật thông tin nhân viên</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="MaNV" class="control-label"> Mã nhân viên </label>
                                <input id="editMaNV" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="HoNV" class="control-label"> Họ </label>
                                <input id="editHoNV" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="GioiTinh" class="control-label"> Giới tính </label>
                                <select class="form-control form-select" id="editGioiTinh">
                                    <option selected>Chọn</option>
                                    <option value="True">Nữ</option>
                                    <option value="False">Nam</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="DiaChi" class="control-label"> Địa chỉ </label>
                                <input id="editDiaChi" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="TenNV" class="control-label"> Tên </label>
                                <input id="editTenNV" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="NgaySinh" class="control-label"> Ngày sinh </label>
                                <input type="date" min="1990-01-01" max="2005-12-31" id="editNgaySinh" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="DienThoai" class="control-label"> Điện thoại </label>
                                <input id="editDienThoai" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnEditSave">Save changes</button>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            GetData();

            $('#btnSave').click(function () {
                if (IsValidate()) {
                    var model = {
                        "MaNV": $('#MaNV').val(),
                        "HoNV": $('#HoNV').val(),
                        "TenNV": $('#TenNV').val(),
                        "GioiTinh": $('#GioiTinh').val() == "Nữ" ? true : false,
                        "DiaChi": $('#DiaChi').val(),
                        "NgaySinh": $('#NgaySinh').val(),
                        "DienThoai": $('#DienThoai').val()
                    };
                    $.ajax({
                        url: '/QuanLy/NhanViens/Create',
                        dataType: 'json',
                        type: 'POST',
                        data: model,
                        success: function (res) {
                            if (res.success) {
                                GetData();
                                $('#modalCreate').modal('hide');
                                //window.location.reload();
                            }
                        },
                        error: function (xhr) { alert('error'); }
                    });
                }
            });
            //Edit
            $('body').on('click', '.btnEdit', function () {
                var id = $(this).data('id');
                console.log("edit clicked " + id);
                GetDataById(id);
            });

            //Save info from modal edit/update
            $('#btnEditSave').click(function () {
                var model = {
                    "MaNV": $('#editMaNV').val(),
                    "HoNV": $('#editHoNV').val(),
                    "TenNV": $('#editTenNV').val(),
                    "GioiTinh": $('#editGioiTinh').val() == "Nữ" ? false : true,
                    "DiaChi": $('#editDiaChi').val(),
                    "NgaySinh": $('#editNgaySinh').val(),
                    "DienThoai": $('#editDienThoai').val()
                };
                $.ajax({
                    url: '/QuanLy/NhanViens/Edit',
                    dataType: 'json',
                    type: 'POST',
                    data: model,
                    success: function (res) {
                        alert("Cập nhật thành công.");
                        if (res.success) {
                            GetData();
                            $('#modalEdit').modal('hide');
                        }
                    },
                    error: function (xhr) { alert('error'); }
                });
            });

            //Delete
            $('body').on('click', '.btnDelete', function () {
                var id = $(this).data('id');
                console.log("delete clicked " + id);
                var conf = confirm('Xác nhận xóa khách hàng.');
                if (conf) {
                    Delete(id);
                }
            });
        });

        function GetDataById(id) {
            $.ajax({
                url: '/QuanLy/NhanViens/GetDataById',
                type: 'GET',
                data: { id: id },
                success: function (res) {
                    if (res.success) {
                        if (res.data != null) {
                            var gioiTinhNV = res.data.result.gioiTinh == true ? "Nữ" : "Nam";

                            $('#editMaNV').val(res.data.result.maNV);
                            $('#editHoNV').val(res.data.result.hoNV);
                            $('#editTenNV').val(res.data.result.tenNV);
                            $('#editGioiTinh').val(gioiTinhNV);
                            $('#editNgaySinh').val(res.data.result.ngaySinh);
                            $('#editDiaChi').val(res.data.result.diaChi);
                            $('#editDienThoai').val(res.data.result.dienThoai);

                            $('#modalEdit').modal('show');
                        }
                    }
                },
                error: function (xhr) { alert('error'); }
            });
        }

        function GetData() {
            $.ajax({
                url: '/QuanLy/NhanViens/GetData',
                type: 'GET',
                success: function (res) {
                    if (res.totalItem > 0) {
                        alert("Get Data")
                        var list = res.data;
                        var html = "";
                        for (let i = 0; i < res.totalItem; i++) {

                            var gt = list[i].gioiTinh == true ? "Nữ" : "Nam";
                            urlDetails = "/QuanLy/NhanViens/Details/" + list[i].maNV;

                            html += "<tr id='tr" + list[i].maNV + "'>";
                            html += "<td>" + list[i].hoNV + " " + list[i].tenNV + "</td>";
                            html += "<td>" + gt + "</td>";
                            html += "<td>" + list[i].ngaySinh + "</td>";
                            html += "<td>" + list[i].diaChi + "</td>";
                            html += "<td>" + list[i].dienThoai + "</td>";
                            html += "<td><a class='btn btn-warning btnEdit' data-id ='" + list[i].maNV + "'>Edit</a> | " +
                                "<a href='" + urlDetails + "' class='btn btn-info btnDetails' data-id ='" + list[i].maNV + "' > Details</a> | " +
                                "<a class='btn btn-danger btnDelete' data-id='" + list[i].maNV + "'>Delete</a></td > ";
                            html += "</tr>";
                        }
                        $('#data-table').html(html);
                    }
                },
                error: function (xhr) { alert('error'); }
            });
        }

        function Delete(id) {
            $.ajax({
                url: '/QuanLy/NhanViens/Delete',
                type: 'POST',
                data: { id: id },
                success: function (res) {
                    if (res.success) {
                        $('#tr' + id).remove();
                        GetData();
                    } else {
                        console.log("Error!");
                    }
                },
                error: function (xhr) { alert('error'); }
            });
        }

        function IsValidate() {
            var check = false;
            debugger;
            if ($('#MaNV').val() == '') {
                $('MaNV').next().html('Mời nhập mã nhân viên!');
                check = false;
            } else {
                $('MaSP').next().html('');
                check = true;
            }

            if ($('#HoNV').val() == '' || $('#TenNV').val() == '') {
                $('TenNV').next().html('Mời nhập họ tên nhân viên!');
                check = false;
            } else {
                $('#HoNV').val() == '';
                $('TenNV').next().html('');
                check = true;
            }
            return check;
        }
    </script>
}